[submodule "components/ESP32-RevK"]
	path = components/ESP32-RevK
	url = https://github.com/revk/ESP32-RevK
[submodule "ftdizap"]
	path = ftdizap
	url = https://github.com/revk/ftdizap
	branch = main
[submodule "PCB/PCBCase"]
	path = PCB/PCBCase
	url = https://github.com/revk/PCBCase
[submodule "components/ESP32-SIP"]
	path = components/ESP32-SIP
	url = https://github.com/revk/ESP32-SIP.git
